body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #141414;
}
div {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
div::-webkit-scrollbar {
	display: none;
}

.info {
	max-width: 50vw;
}

@media (max-width: 767.98px) {
	.info {
		display: -webkit-box;
		max-width: 200px;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
